#search,
#doctor-filter {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

#search label,
#doctor-filter label {
	flex: 1;
	min-width: 24rem;
}

#search button {
	align-self: flex-end;
	min-width: 12rem;
	margin-left: auto;
}

#doctor-filter {
	align-items: flex-end;
}

form {
	margin: 1rem 0;
}

main input,
main select {
	display: block;
	width: 100%;
}

.stats th,
.stats td {
	padding: 0.5rem;
}
.stats th,
.stats td:not(:last-child) {
	white-space: nowrap;
}

.appointment {
	padding: 1rem;
}
.appointment hgroup > * {
	margin: 0.25rem 0;
}
.appointment > div {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
	gap: 1rem 3rem;

	margin: 1rem 0;
}